<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="{% block encoding %}utf-8{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>