<div class="col-xs-12  banner">
<div class="container" style="position: relative;">
	<div style="right: 90px; top: 22px;">
		<img src="{{assert("/img/banner/aluguel-ipad.png")}}" style="height: 357px;" alt="">
	</div>
	<div style="top:20px; left: 50px;">
		<img src="{{assert("/img/banner/preco-aluguel-ipad.png")}}" alt="">
	</div>
</div>
</div>
