		{% block clientes %}
			<div class="col-xs-12 text-center clientes" >
				<p class="text-left">Quando eles precisaram de aluguel tablets, eles nos chamaram:</p>
				<img src="{{assert("/img/clientes.jpg")}}" alt="" style="width: 100%;">
			</div>
		{% endblock %}
