<div class="container-fluid" id="header">
<div class="row">
	<div class="col-xs-12 line"></div>
	<div class="container relative">
		<div class="telefone absolute col-xs-12 text-right">
			<img src="{{assert("/img/telefone.png")}}" alt="Telefone 4114-9266">
		</div>
		<div class="col-xs-12 col-md-3 text-center logo">
			<img src="{{assert("/img/logo-alugando-tablet.png")}}" alt="">
		</div>		
		<div class="col-xs-12 col-md-9 nav text-right">
			{% include 'Site::menu.html.twig'  %}

		</div>
	</div><!--container-->
</div>	<!--/row-->
{% block header_change %}
<div class="row page-title">
	<div class="container">
		<div class="col-xs-12">
			<h1>A Empresa</h1>
		</div>
	</div>
</div>


{% endblock %}
</div><!--/container-fluid-->