<div class="container-fluid orcamento">
	<div class="row">
		<div class="col-xs-12">
			<p class="text-center">
				<span class="title">Alugue Agora!</span> <br>
				Atendemos em todo territorio nacional <br>
				Fale com um de nossos consultores e alugue <br>
				seu tablet sem burocracia!
				<br>
			</p>
			<p style="font-size: 22px;" class="text-center title">
				<button class="orc" href="ola">Solicite um Orçamento</button>
			</p>
		</div>
	</div>
</div>