<div class="container-fluid">
	<div class="row">
		<div class="" id="video-box">
			<div class="opacity"></div>
			<div class="texto">
				<p>
					Venha conversar conosco, temos certeza que podemos ajudar o seu evento a ser um sucesso! <br>
					<button class="orc">Solicite um Orçamento</button>
				</p>
			</div>
			<video autoplay loop poster="polina.jpg">
				<source src="{{assert("/img/homepage.webm")}}" type="video/webm">
				<source src="{{assert("/img/homepage.mp4")}}" type="video/webm">
			</video>
		</div>
	</div>
</div>