{% extends '::base.html.twig' %}
{% block head %}
    {{link(assert("/css/font-awesome.min.css"))}}
{% endblock %}

{% block body %}
	
	<div id="nav">
		<div id="sep">
			<span><i class="fa fa-flask"></i> plunder</span>
		</div>
		{% block nav %}
			{% include 'Admin::_menu.html.twig' %}
		{% endblock %}
	</div>
	<div id="header">
		{% block header %}{% endblock %}
	</div>


	<div id="content">
		<div class="container-fluid">
		{% block content %}
		    
		{% endblock %}
		</div>
	</div>

	<div id="footer">
		
	</div>

{% endblock %}