{% block panel %}
<div class="panel panel-default">
  <div class="panel-heading" style="position:relative">
    <a class="" style="position: absolute; top:13px; right: 15px;" onclick="$(this).parent().parent().find('.panel-body').slideToggle();"><i class="fa fa-sort-up"></i></a>
    <h3 class="panel-title">{{panel_title}}</h3>
  </div>
  <div class="panel-body">
    {{panel_body}}
  </div>
</div>

{% endblock %}