body{font-family: 'Open Sans', Arial; font-size: 14px;}
.container{width: 1050px;}
#header	{background: url("../img/fundo-top.jpg");}
#header .line{background: url("../img/divider.jpg"); height: 2px;}
#header .logo img{margin-top: 20px;}
.divider{background: url("../img/divider.png"); background-repeat: repeat-x; height: 5px;margin-top: 5px;}

#header .nav {margin-top: 90px;}
#header .nav ul{list-style: none; margin: 0; padding: 0;}
#header .nav ul li{display: inline-block; padding-left: 30px; position: relative;}
#header .nav ul li a{ font-size: 14px; font-weight: 600; color: #7d7c7c; font-weight: 300;}
#header .nav ul .active a,
#header .nav ul li a:hover{color: #03A084; border-bottom: 3px solid #03A084; text-decoration: none; font-weight: 300; }
/**submenu**/
#header .nav ul li ul{display: none; width: 200px; background:#03A084; position: absolute; z-index: 100; text-align: left; top: 21px;font-weight: 300; }
#header .nav ul li:hover ul{display: block;} 
#header .nav ul li ul li{line-height: 40px; padding: 0 10px; border-bottom: 1px solid #FFF; width: 100%;} 
#header .nav ul li ul li:last-child{border-bottom: none;}
#header .nav ul li ul li a{color: #FFF; font-size: 13px;}
#header .nav ul li ul li a:hover{color: #FFF; text-decoration: underline;}
#header .clientes{padding: 15px 0;}

#home h1{color: #00a588; text-align: center;}
#home h2{color: #8f8f8f; text-align: center; font-size: 95%; text-transform: uppercase; margin-top: 0;
		background: url("../img/divider.jpg"); background-repeat: no-repeat; background-position: bottom center; padding-bottom: 20px;}
#home p{color: #696969; }
.orcamento{padding: 30px 100px;}
.orcamento .title{color: #173843; font-size: 40px;}
.orcamento p{font-size: 17px;}

.box-android{margin-top: 70px; position: relative; padding: 20px; float: right; width: auto; width: 263px;}
.box-android img{ position: absolute; top: 0; right: 0; z-index: -10;}
.box-android p{color: #FFFFFF!important;}
.box-android span{font-size: 150%;}


#maps{height: 250px; margin-top:0px;}
#footer{background: #333; min-height: 500px}

#video-box{height: 200px; overflow: hidden; position: relative;}
#video-box video{width: 100%; top: -200px; position: relative;}
#video-box .texto{position: absolute; width: 100%; height: 100%; z-index: 999; display: table;}
#video-box .texto p{font-size: 25px; color: #FFF; text-align: center; display: table-cell; vertical-align: middle; font-weight: 300; font-style: italic; }
#video-box .opacity{position: absolute; top: 0; left: 0; opacity: 0.90; z-index: 100; width: 100%; height: 100%; background-color: #000;}
.col
#video-bkg{background-color: #000; filter: alpha(opacity=50); opacity: 0.90}

.box-icon{width: 100%; height: 100%; border-bottom: 8px solid #03A084; background: #f6f6f6; margin-top: 50px; position: relative; padding-top: 50px;
			height: 310px; font-size: 13px;}
.box-icon .icon{text-align: center; position: absolute; width: 100%; top: -50px;}
.box-icon .icon-title h3{font-size: 16px;}
.box-icon .icon-body{padding: 20px; text-align: center;}


button.orc{border: 0px solid transparent; background-color: #00cf99; padding: 15px 50px; margin-top: 15px; 
			color: #FFf; font-size: 15px; text-transform: uppercase;}
button.orc:hover{background: #079e85;}
.banner{background: url("../img/fundo-banner.jpg"); background-repeat: repeat-x; position: relative; height: 400px;}
.banner div {position: absolute;}

.page-title{background: url("../img/fundo-banner.jpg"); background-repeat: repeat-x; background-attachment: fixed; padding: 20px 0;
				margin-top: 15px;}
.page-title h1{color: #FFF; margin: 0; padding: 0; font-size: 20px;  font-family: 'PT Sans', sans-serif; font-style:italic;}
