<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teste</title>
</head>
<body>

Oal mundão
{{form_row("razao_social")}}
{{form_row("contato")}}
{{form_row("contato")}}
{#{dump(form)}#}
{#{dump(attribute(form, "razao_social"))}#}




</body>
</html>