{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		{{dump(form)}}
		{{form_row(form.razao_social)}}
		{{form_row(form.contato)}}
		{{form_row(form.contato, {'label':"Contato Substitui"})}}
	</div>
</div>

{% endblock %}


